<div class="task-form-container">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <!-- Title Field -->
    <div class="form-group">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Tytuł</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="taskForm.controls['title'].hasError('required')">
          Tytuł jest wymagany.
        </mat-error>
        <mat-error *ngIf="taskForm.controls['title'].hasError('minlength')">
          Tytuł musi mieć przynajmniej 3 znaki.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Description Field -->
    <div class="form-group">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <!-- Submit Button -->
    <div class="form-group button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
        Dodaj
      </button>
    </div>
  </form>
</div>

<button mat-fab color="accent" routerLink="/" class="fab-btn">
  <mat-icon>arrow_back</mat-icon>
</button>
